@font-face {
    font-family: 'SourceCodePro-Regular';
    src: local('SourceCodePro-Regular'), url(./fonts/SourceCodePro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FreeSansBold';
    src: local('FreeSansBold'), url(./fonts/FreeSansBold.ttf) format('truetype');
}

code {
    font-family: 'SourceCodePro-Regular';
    font-size : 10pt;
}

#title {
    font-family: 'FreeSansBold';
    font-size: 10pt;
}
